<%= render @user %>

<div>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Delete Accout", @user, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your account?"} %>
</div>
