<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
