<%= render @post %>

<div>
  <% if current_user == @post.user %>
    <%= link_to "Edit this post", edit_post_path(@post) %>
    <%= button_to "Delete this post", @post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>

</div>
